@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@layer base {
	*,
	::before,
	::after {
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
	}
}

@layer components {
	.spinner {
		animation: rotate 1s infinite linear;
		aspect-ratio: 1;
		border: 8px solid theme(colors.primary.900);
		border-radius: 50%;
		border-right-color: theme(colors.primary.200);
		margin: 3.2rem auto 1.6rem;
		width: 60px;
	}

	.spinner-mini {
		animation: rotate 1s infinite linear;
		aspect-ratio: 1;
		border: 2px solid theme(colors.primary.200);
		border-radius: 50%;
		border-right-color: transparent;
		margin: 0;
		width: 20px;
	}

	@keyframes rotate {
		to {
			transform: rotate(1turn);
		}
	}
}

.rdp-root {
	--rdp-accent-color: theme(colors.accent.500);
	--rdp-accent-background-color: theme(colors.accent.600);

	@apply m-0;
}

.rdp-dropdown {
	@apply cursor-pointer;
}

.rdp-caption_label {
	@apply text-accent-400;
}

.rdp-caption_label > .rdp-chevron {
	@apply hidden;
}

.rdp-root :is(.rdp-button_previous, .rdp-button_next):focus-visible {
	@apply outline-accent-300;
}

.rdp-day_button:focus-visible {
	@apply outline-accent-600;
}

.rdp-dropdown:focus-visible ~ .rdp-caption_label {
	@apply outline-4 outline-offset-4 outline-accent-300;
}

.rdp-months {
	@apply flex gap-4;
}

.rdp-month {
	@apply min-w-0 flex-1 text-sm;
}

.rdp-dropdowns {
	@apply p-3;
}

.rdp-month_grid {
	@apply sm:w-full sm:table-fixed md:w-auto md:table-auto;
}
